<div class="firstblock">
  <div class="left-containar">
        <div class="slide-container">
            <div class="slide-wrapper">
                <img class="slide" src="/assets/gamouudon.jpg" alt="画像1">
                <img class="slide" src="/assets/hinodesemenjyo.jpg" alt="画像2">
                <img class="slide" src="/assets/okasen.jpg" alt="画像3">
                <img class="slide" src="/assets/yamagoeudon.jpg" alt="画像4">
                <!-- 繰り返し -->
                <img class="slide" src="/assets/gamouudon.jpg" alt="画像1">
                <img class="slide" src="/assets/hinodesemenjyo.jpg" alt="画像2">
                <img class="slide" src="/assets/okasen.jpg" alt="画像3">
                <img class="slide" src="/assets/yamagoeudon.jpg" alt="画像4">
            </div>
        </div>
  </div>
  <div class="center-containar"></div>
  <div class="right-containar">
        <div class="slide-container">
            <div class="slide-wrapper">
                <img class="slide" src="/assets/ikekoudon.jpg" alt="画像1">
                <img class="slide" src="/assets/wataya.jpg" alt="画像2">
                <img class="slide" src="/assets/yanagiya.jpg" alt="画像3">
                <img class="slide" src="/assets/nagataudon.jpg" alt="画像4">
                <!-- 繰り返し -->
                <img class="slide" src="/assets/ikekoudon.jpg" alt="画像1">
                <img class="slide" src="/assets/wataya.jpg" alt="画像2">
                <img class="slide" src="/assets/yanagiya.jpg" alt="画像3">
                <img class="slide" src="/assets/nagataudon.jpg" alt="画像4">
            </div>
        </div>
    </div>
</div>

<div class="secondblock">
</div>
<div class="thirdblock">
</div>
<div class="fourthblock">
</div>
<div class="fifthblock">
</div>
<div class="sixthblock">
</div>