  /* トップページ*/
.firstblock{
height: 100vh;
width: 100%;
display: flex;
}
.left-containar{
    width: 12%;
    background-color:#BBBBBB ;
    }
.center-containar{
    width: 76%;
    background-color: #8F8C96;
    background-image: url("/assets/topudon.png");
    background-size:cover;
    }
.right-containar{
    width: 12%;
    background-color: #BBBBBB;
    }
/* スライドショー用の共通スタイル */
/* スライドショー全体 */
.slide-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* スライドを縦に流すアニメーション */
.slide-wrapper {
  display: flex;
  flex-direction: column;
  animation: slide-flow 5s linear infinite;
  will-change: transform;
}

/* ホバー時にアニメーション停止 */
.slide-container:hover .slide-wrapper {
  animation-play-state: paused;
}

/* 画像の表示設定 */
.slide {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border: 1px solid #ddd;
}
  
/* 縦方向にスライドするキーフレーム */
@keyframes slide-flow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10vh);
  }
  60% {
    transform: translateY(-8vh);
  }
  100% {
    transform: translateY(-50vh);
  }
}



/* ロゴとうどんの歴史 */
.secondblock{
    height: 100vh;
    width: 100%;
    background-image: url("/assets/rogo.png");
    background-size:cover;
    }
.thirdblock{
    height: 100vh;
    width: 100%;
    background-image: url("/assets/history1.png");
    background-size:cover;   
}
.fourthblock{
    height: 100vh;
    width: 100%;
    background-image: url("/assets/history2.png");
    background-size:cover;
}
.fifthblock{
    height: 100vh;
    width: 100%;
    background-image: url("/assets/history3.png");
    background-size:cover;
}
.sixthblock{
    height: 110vh;
    width: 100%;
    background-image: url("/assets/omoi.png");
    background-size:cover;
}