<div class="saikoucontainar">
    <div class="saikounoshindan">
        <h1>最高の一杯診断</h1>
    </div>
    <div class="start">
        <%= link_to "診断スタート", new_test_path, class: "link" %>
    </div>
</div>
